<!-- write code to edit and save book i this component -->

<!-- created a form with form group impoted from angular forms  -->
<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)">
  <mat-form-field class="example-full-width">
    <!-- input fields ISBN and their matchers for errors  -->
    <input
      matInput
      placeholder="ISBN"
      formControlName="isbn"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span *ngIf="!bookForm.get('isbn').valid && bookForm.get('isbn').touched"
        >Please enter ISBN</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <!-- input fields for title and their matchers for errors  -->
    <input
      matInput
      placeholder="Title"
      formControlName="title"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span
        *ngIf="!bookForm.get('title').valid && bookForm.get('title').touched"
        >Please enter Book Title</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <!-- input fields AUTHOR and their matchers for errors  -->
    <input
      matInput
      placeholder="Author"
      formControlName="author"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span
        *ngIf="!bookForm.get('author').valid && bookForm.get('author').touched"
        >Please enter Book Author</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <!-- text area input field  -->
    <textarea
      matInput
      placeholder="Description"
      formControlName="description"
      [errorStateMatcher]="matcher"
    ></textarea>
    <mat-error>
      <span
        *ngIf="
          !bookForm.get('description').valid &&
          bookForm.get('description').touched
        "
        >Please enter Book Description</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <!-- input field for publisher  -->
    <input
      matInput
      placeholder="Publisher"
      formControlName="publisher"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span
        *ngIf="
          !bookForm.get('publisher').valid && bookForm.get('publisher').touched
        "
        >Please enter Publisher</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Published Year"
      formControlName="published_year"
      [errorStateMatcher]="matcher"
    />
    <mat-error>
      <span
        *ngIf="
          !bookForm.get('published_year').valid &&
          bookForm.get('published_year').touched
        "
        >Please enter Published Year</span
      >
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <!-- button will be disabled untill all the fields are valid  -->
    <button
      type="submit"
      [disabled]="!bookForm.valid"
      mat-raised-button
      color="primary"
    >
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
