<!-- Restaurant details user form  -->
<section class="restaurant-search">
  <div class="restaurant-search-wrapper">
    <div class="section-header">
      <h2 class="section-title">Restaurant Search</h2>
      <p class="section-info">
        Enter a place name and get near by restaurants.
      </p>
    </div>

    <!-- Restaurant search form input  -->
    <div class="section-content">
      <div class="search-input">
        <input
          type="text"
          placeholder="Enter a place to get nearby restaurants"
          class="form-control"
          [(ngModel)]="address"
        />
        <i class="fas fa-search-location"></i>
      </div>
      <a class="btn btn-explore" (click)="getRestaurants()">Get Restaurants</a>
    </div>

    <!-- Looping over response on the restaurants list and binding the corresponsing values to the display.  -->
    <div class="section-results" *ngIf="restaurantsList">
      <div class="result-card" *ngFor="let restaurant of restaurantsList">
        <img src="assets/bg1.jpg" alt="" />
        <div class="details">
          <h4>{{ restaurant.name }}</h4>
          <p *ngFor="let address of restaurant.address">
            {{ address }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
